{% load static %}
<footer class="ht-footer full-width-ft">
	<div class="row">
		<div class="flex-parent-ft">
			<div class="flex-child-ft item1">
				<a href="index.html"><img class="logo" src="{% static 'images/logo1.svg' %}" alt="" width="119" height="58"></a>
				<p>Gujarat, India</p>
				<p>Call us: <a href="tel:+91 6354926242">+91 63549 26242</a></p>
				<p>Call us: <a href="tel:+91 7984675687">+91 79846 75687</a></p>
				<p><a href="/about">About</a></p>
				<p><a href="/contact">Contact Us</a></p>
			</div>
		</div>
		<div class="ft-copyright">
			<div class="ft-left">
				<p>© {{year}} Midnight Blue. All Rights Reserved.</p>
			</div>
			<div class="backtotop">
				<p><a href="#" id="back-to-top">Back to top  <i class="ion-ios-arrow-thin-up"></i></a></p>
			</div>
		</div>
	</div>
</footer>