<div class="login-wrapper" id="login-content">
	<div class="login-content">
	    <a href="#" class="close">x</a>
	    <h3>Login</h3>
	    <form method="post" action="#">
	    	<div class="row">
	    		 <label for="username">
	                Username:
	                <input type="text" name="username" id="username" placeholder="Hugh Jackman" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{8,20}$" required="required" />
	            </label>
	    	</div>
	       
	        <div class="row">
	        	<label for="password">
	                Password:
	                <input type="password" name="password" id="password" placeholder="******" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />
	            </label>
	        </div>
	        <div class="row">
	        	<div class="remember">
					<div>
						<input type="checkbox" name="remember" value="Remember me"><span>Remember me</span>
					</div>
	        		<a href="#">Forget password ?</a>
	        	</div>
	        </div>
	       <div class="row">
	       	 <button type="submit">Login</button>
	       </div>
	    </form>
	    <div class="row">
	    	<p>Or via social</p>
	        <div class="social-btn-2">
	        	<a class="fb" href="#"><i class="ion-social-facebook"></i>Facebook</a>
	        	<a class="tw" href="#"><i class="ion-social-twitter"></i>twitter</a>
	        </div>
	    </div>
	</div>
</div>