{% load static %}
<header class="ht-header full-width-hd">
	<div class="row">
		<nav id="mainNav" class="navbar navbar-default navbar-custom">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header logo">
			    <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				    <span class="sr-only">Toggle navigation</span>
				    <div id="nav-icon1">
						<span></span>
						<span></span>
						<span></span>
					</div>
			    </div>
			    <a href="/"><img class="logo" src="{% static 'images/logo1.svg' %}" alt="" width="119" height="58"></a>
		    </div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav flex-child-menu menu-left">
					<li class="hidden">
						<a href="#page-top"></a>
					</li>
					<!-- <li><a href="index">Home</a></li> -->

					<li><a href="/search">Search</a></li>
					<li><a href="/search">Recommendation</a></li>


					<li class="dropdown first">
						<a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
						movies<i class="fa fa-angle-down" aria-hidden="true"></i>
						</a>
						<ul class="dropdown-menu level1">
							<li><a href="moviegridfw">movie grid full width</a></li>
							<li class="it-last"><a href="moviesingle">Movie single</a></li>
						</ul>
					</li>

					<li class="dropdown first">
						<a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
						community <i class="fa fa-angle-down" aria-hidden="true"></i>
						</a>
						<ul class="dropdown-menu level1">
							<li><a href="userfavoritegrid">user favorite grid</a></li>
							<li><a href="userprofile">user profile</a></li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav flex-child-menu menu-right">              
					<li class="loginLink"><a href="#">LOG In</a></li>
					<li class="btn signupLink"><a href="#">sign up</a></li>
				</ul>
			</div>
		<!-- /.navbar-collapse -->
	</nav>
	<!-- search form -->
	</div>
</header>