{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		{% include 'add-ones/headtag.html' %}
	</head>
<body>
<!--preloading-->
<div id="preloader">
    <img class="logo" src="{% static 'images/logo1.svg' %}" alt="" width="119" height="58">
    <div id="status">
        <span></span>
        <span></span>
    </div>
</div>
<!--end of preloading-->

<!--end of signup form popup-->

<div class="page-single-2">
	<div class="container">
		<div class="row">
			<div class="middle-content">
				<a href="/"><img class="md-logo" src="{% static 'images/logo1.svg' %}" alt="" width="119" height="58"></a>
				<img src="{% static 'images/uploads/err-img.png' %}" alt="">
				<h1>Page not found</h1>
				<a href="/" class="redbtn">go home</a>
			</div>
		</div>
	</div>
</div>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/plugins2.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
</body>

</html>