{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">
{% include 'add-ones/headtag.html' %}
<body background="#020d18">
<!--preloading-->
<div id="preloader">
    <img class="logo" src="{% static 'images/logo1.svg' %}" alt="" width="119" height="58">
    <div id="status">
        <span></span>
        <span></span>
    </div>
</div>
<!--end of preloading-->

<!--end of signup form popup-->

<div class="page-single-2">
	<div class="container">
		<div class="row">
			<div class="middle-content">
				<a href="/"><img class="md-logo" src="{% static 'images/logo1.svg' %}" alt="" width="119" height="58"></a>
				<h1>Oops! We Lost the connection with you! <br> Sorry for the Inconvenience!</h1>
				<!-- <h1></h1> -->
				<a href="/" class="redbtn">go home</a>
			</div>
		</div>
	</div>
</div>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/plugins2.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
</body>

</html>