{% load static %}
{% load customFilter %}
<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		{% include 'add-ones/headtag.html' %}
		<style>
			.ui-autocomplete { 
				max-height: 300px;
				overflow-y: scroll;
				overflow-x: hidden;
			}
			.inactiveLink {
				pointer-events: none;
				cursor: default;
			}
			.sidebar .sb-title {
				font-size: 23px;
			}
		</style>
	</head>
	<body>
    <!--preloading-->
    <div id="preloader">
      <img
        class="logo"
        src="{% static 'images/logo1.svg' %}"
        alt=""
        width="119"
        height="58"
      />
      <div id="status">
        <span></span>
        <span></span>
      </div>
    </div>
    <!--end of preloading-->

    <!-- BEGIN | Header -->
    {% include 'add-ones/navbar.html' %}
    <!-- END | Header -->

    <div class="hero common-hero">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hero-ct">
                        <h1>About</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div class="page-single">
		<div class="container">
			<div class="row ipad-width">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="sidebar" style="margin-left: 0px;">
						<div class="searh-form">
							<h1 class="sb-title">Suggest Movie</h1>
							<form class="form-style-1" action="#">
								<div class="row">
									<div class="col-md-12 form-it">
										<label>Name</label>
										<input type="text" placeholder="This will show up on the site">
									</div>
									<div class="col-md-12 form-it">
										<label>E-mail</label>
										<input type="email" placeholder="This will be the medium of the communication">
									</div>
									<div class="col-md-12 form-it">
										<label>Movies</label>
										<input type="text" name="skills" id="example">
									</div>
									<div class="col-md-12 form-it">
										<label>Any Note</label>
										<input type="text" placeholder="Anything you'll like to be noted">
									</div>
									<div class="col-md-12 ">
										<input class="submit" type="submit" value="submit">
									</div>
								</div>
							</form>
						</div>
						<div class="searh-form">
							<h4 class="sb-title">Developers</h4>
							<div class="row">
								<div class="col-md-6">
									<div class="ceb-item-style-2">
										<div class="ceb-infor">
											<h2><a class="inactiveLink" href="#">Rahul Soni</a></h2>
											<span>Founder</span><br>
											<span><a href="mailto:rahuldsoni2001@gmail.com">Get connected here</a></span>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="ceb-item-style-2">
										<div class="ceb-infor">
											<h2><a class="inactiveLink" href="#">Rupen Chitroda</a></h2>
											<span>Co-Founder</span><br>
											<span><a href="mailto:rupschitroda16@gmail.com">Get connected here</a></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    
    <!-- footer v2 section-->
    {% include 'add-ones/footer.html' %}
    <!-- end of footer v2 section-->

    {% include 'add-ones/alljs.html' %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="{% static 'jquery.tagsinput-revisited.js' %}"></script>
	<link rel="stylesheet" href="{% static 'jquery.tagsinput-revisited.css' %}">
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script>
		$('#example').tagsInput({
			'autocomplete': {
				source: '{% url 'search' %}',
				delay:200,
				minLength:4,
				select: function(event, ui) {
					$("#example").val(ui.item.label);
				}
			},
			unique:true,
			hide:true,
			delimiter:',',
			limit:8,
			placeholder:'Search and Add your suggested movie here',
		});
	</script>
  </body>
</html>
