{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">
{% include 'headtag.html' %}
<body>
<!--preloading-->
<div id="preloader">
    <img class="logo" src="images/logo3.svg" alt="" width="119" height="58">
    <div id="status">
        <span></span>
        <span></span>
    </div>
</div>
<!--end of preloading-->
<div class="page-single-2">
	<div class="container">
		<div class="row ipad-width">
			<div class="left-content">
				<a href="#"><img class="md-logo" src="images/logo3.svg" alt="" width="119" height="58"></a>
				<h1>Coming on Oct 01, 2020</h1>
				<div class="row">
					<div  class="col-md-6 col-sm-12 col-xs-12">
						<div class="coming-ct">
							<div id="clockdiv" class="time">
								<div class="it-time">
									<span style="color: white" id="days" class="days"></span><br>
									<p style="color: #00b5ff;font-weight: bold;font-family: 'Dosis';">days</p>
								</div>
								
								<div class="it-time">
									<span style="color: white" id="hours" class="hours"></span><br>		
									<p style="color: #00b5ff;font-weight: bold;font-family: 'Dosis';">hours</p>
								</div>
								<div class="it-time">
									<span style="color: white" id="minutes" class="minutes">				
									</span><br>	
									<p style="color: #00b5ff;font-weight: bold;font-family: 'Dosis';">Minutes</p>
								</div>
								<div class="it-time">
									<span style="color: white" id="seconds" class="seconds">							
									</span><br>
									<p style="color: #00b5ff;font-weight: bold;font-family: 'Dosis';">Seconds</p>
								</div>
							</div>	
						</div>
						<!-- <h3>Nofication me</h3>
						<form action="#">
							<input class="email" type="text" placeholder="Enter your email">
							<input class="redbtn" type="submit" placeholder="subscribe">
						</form> -->
					</div>
					<div class="col-md-6 col-sm-12 col-xs-12">
						<img class="cm-img" src="images/uploads/cm-img" alt="" >
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>
<script src="js/jquery.js"></script>
<script src="js/plugins.js"></script>
<script src="js/plugins2.js"></script>
<script src="js/custom.js"></script>
</body>
</html>
