{% load static %}
{% load customFilter %}
<!DOCTYPE html>
<html lang="en" class="no-js">
{% include 'add-ones/headtag.html' %}
<body>
<!--preloading-->
<div id="preloader">
    <img class="logo" src="{% static 'images/logo1.svg' %}" alt="" width="119" height="58">
    <div id="status">
        <span></span>
        <span></span>
    </div>
</div>
<!--end of preloading-->

<!-- BEGIN | Header -->
{% include 'add-ones/navbar.html' %}
<!-- END | Header -->

<div class="hero mv-single-hero">
	<div class="container">
		<div class="row">
		</div>
	</div>
</div>
{% for movie in data %}
<div class="page-single movie-single movie_single" style="padding: 0px;">
	<div class="container">
		<div class="row ipad-width2">
			<div class="col-md-4 col-sm-12 col-xs-12">
				<div class="movie-img" style="top: 0px">
					<img src={{ movie.poster }} alt="">
				</div>
			</div>
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div class="movie-single-ct main-content">
					<h1 class="bd-hd">{{ movie.original_title }}<span> &nbsp; {{movie.release_date | trimDate}}</span></h1>
					<div class="movie-rate">
						<div class="rate">
							<i class="ion-android-star"></i>&nbsp;&nbsp;
							<h2 style="font-size:x-large" class="bd-hd">{{movie.vote_average}} / 10<br></h2>
						</div>
					</div>
					<div class="movie-tabs">
						<div class="tabs">
							<ul class="tab-links tabs-mv">
								<li class="active"><a href="#overview">Overview</a></li>
								<li><a href="#moviesrelated"> Related Movies</a></li>                        
							</ul>
						    <div class="tab-content">
						        <div id="overview" class="tab active">
						            <div class="row">
						            	<div class="col-md-8 col-sm-12 col-xs-12">
						            		<p>{{movie.overview}}</p>
						            		<div class="title-hd-sm">
												<h4>Director</h4>
											</div>
											<div class="mvcast-item">											
												<div class="cast-it">
													<div class="cast-left">
														<a href="#">{{ movie.director }}</a>
													</div>
												</div>
											</div>

											<div class="title-hd-sm">
												<h4>Stars</h4>
											</div>
											<div class="mvcast-item">											
												<div class="cast-it">
													<a href="#">{{movie.cast}}</a>
												</div>
											</div>
											<div class="title-hd-sm">
												<h4>Tagline</h4>
											</div>
											<div class="mvcast-item">											
												<div class="cast-it">
													<a href="#">{{movie.tagline}}</a>
												</div>
											</div>
						            	</div>
						            	<div class="col-md-4 col-xs-12 col-sm-12">
						            		<div class="sb-it">
						            			<h6>Genres:</h6>
						            			<p><a href="#">{{ movie.genres }}</a></p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>Release Date:</h6>
						            			<p>{{ movie.release_date }}</p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>Run Time:</h6>
						            			<p>{{ movie.runtime | trim }} min</p>
						            		</div>
											<div class="sb-it">
						            			<h6>Plot Keywords:</h6>
						            			<p class="tags">
						            				<span class="time"><a href="#">{{movie.keywords | seperateKeywords:"1"}}</a></span>
													<span class="time"><a href="#">{{movie.keywords | seperateKeywords:"2"}}</a></span>
													<span class="time"><a href="#">{{movie.keywords | seperateKeywords:"3"}}</a></span>
													<span class="time"><a href="#">{{movie.keywords | seperateKeywords:"4"}}</a></span>
													<span class="time"><a href="#">{{movie.keywords | seperateKeywords:"5"}}</a></span>
						            			</p>
						            		</div>
						            	</div>
						            </div>
						        </div>
					       	 	<div id="moviesrelated" class="tab">
					       	 		<div class="row">
					       	 			<h3>Related Movies To</h3>
					       	 			<h2>{{movie.title}}</h2>
					       	 			<div class="topbar-filter">
											<p>Found <span>12 movies</span> in total</p>
										</div>
										<div class="movie-item-style-2">
											<img src="{% static 'images/uploads/mv1.jpg' %}" alt="">
											<div class="mv-item-infor">
												<h6><a href="#">oblivion <span>(2012)</span></a></h6>
												<p class="rate"><i class="ion-android-star"></i><span>8.1</span> /10</p>
												<p class="describe">Earth's mightiest heroes must come together and learn to fight as a team if they are to stop the mischievous Loki and his alien army from enslaving humanity...</p>
												<p class="run-time"> Run Time: 2h21’    .     <span>MMPA: PG-13 </span>    .     <span>Release: 1 May 2015</span></p>
												<p>Director: <a href="#">Joss Whedon</a></p>
												<p>Stars: <a href="#">Robert Downey Jr.,</a> <a href="#">Chris Evans,</a> <a href="#">  Chris Hemsworth</a></p>
											</div>
										</div>
										<div class="movie-item-style-2">
											<img src="{% static 'images/uploads/mv2.jpg' %}" alt="">
											<div class="mv-item-infor">
												<h6><a href="#">into the wild <span>(2014)</span></a></h6>
												<p class="rate"><i class="ion-android-star"></i><span>7.8</span> /10</p>
												<p class="describe">As Steve Rogers struggles to embrace his role in the modern world, he teams up with a fellow Avenger and S.H.I.E.L.D agent, Black Widow, to battle a new threat...</p>
												<p class="run-time"> Run Time: 2h21’    .     <span>MMPA: PG-13 </span>    .     <span>Release: 1 May 2015</span></p>
												<p>Director: <a href="#">Anthony Russo,</a><a href="#">Joe Russo</a></p>
												<p>Stars: <a href="#">Chris Evans,</a> <a href="#">Samuel L. Jackson,</a> <a href="#">  Scarlett Johansson</a></p>
											</div>
										</div>
										<div class="movie-item-style-2">
											<img src="{% static 'images/uploads/mv3.jpg' %}" alt="">
											<div class="mv-item-infor">
												<h6><a href="#">blade runner  <span>(2015)</span></a></h6>
												<p class="rate"><i class="ion-android-star"></i><span>7.3</span> /10</p>
												<p class="describe">Armed with a super-suit with the astonishing ability to shrink in scale but increase in strength, cat burglar Scott Lang must embrace his inner hero and help...</p>
												<p class="run-time"> Run Time: 2h21’    .     <span>MMPA: PG-13 </span>    .     <span>Release: 1 May 2015</span></p>
												<p>Director: <a href="#">Peyton Reed</a></p>
												<p>Stars: <a href="#">Paul Rudd,</a> <a href="#"> Michael Douglas</a></p>
											</div>
										</div>
										<div class="movie-item-style-2">
											<img src="{% static 'images/uploads/mv4.jpg' %}" alt="">
											<div class="mv-item-infor">
												<h6><a href="#">Mulholland pride<span> (2013)  </span></a></h6>
												<p class="rate"><i class="ion-android-star"></i><span>7.2</span> /10</p>
												<p class="describe">When Tony Stark's world is torn apart by a formidable terrorist called the Mandarin, he starts an odyssey of rebuilding and retribution.</p>
												<p class="run-time"> Run Time: 2h21’    .     <span>MMPA: PG-13 </span>    .     <span>Release: 1 May 2015</span></p>
												<p>Director: <a href="#">Shane Black</a></p>
												<p>Stars: <a href="#">Robert Downey Jr., </a> <a href="#">  Guy Pearce,</a><a href="#">Don Cheadle</a></p>
											</div>
										</div>
										<div class="movie-item-style-2">
											<img src="{% static 'images/uploads/mv5.jpg' %}" alt="">
											<div class="mv-item-infor">
												<h6><a href="#">skyfall: evil of boss<span> (2013)  </span></a></h6>
												<p class="rate"><i class="ion-android-star"></i><span>7.0</span> /10</p>
												<p class="describe">When Tony Stark's world is torn apart by a formidable terrorist called the Mandarin, he starts an odyssey of rebuilding and retribution.</p>
												<p class="run-time"> Run Time: 2h21’    .     <span>MMPA: PG-13 </span>    .     <span>Release: 1 May 2015</span></p>
												<p>Director: <a href="#">Alan Taylor</a></p>
												<p>Stars: <a href="#">Chris Hemsworth,  </a> <a href="#">  Natalie Portman,</a><a href="#">Tom Hiddleston</a></p>
											</div>
										</div>
										<div class="topbar-filter">
											<label>Movies per page:</label>
											<select>
												<option value="range">5 Movies</option>
												<option value="saab">10 Movies</option>
											</select>
											<div class="pagination2">
												<span>Page 1 of 2:</span>
												<a class="active" href="#">1</a>
												<a href="#">2</a>
												<a href="#"><i class="ion-arrow-right-b"></i></a>
											</div>
										</div>
					       	 		</div>
					       	 	</div>
						    </div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
<!-- footer section-->
{% include 'add-ones/footer.html' %}
<!-- end of footer section-->

{% include 'add-ones/alljs.html' %}
</body>
</html>