{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">
{% include 'add-ones/headtag.html' %}
<body>
<!--preloading-->
<div id="preloader">
    <img class="logo" src="{% static 'images/logo1.svg' %}" alt="" width="119" height="58">
    <div id="status">
        <span></span>
        <span></span>
    </div>
</div>
<!--end of preloading-->

<!--login form popup-->
{% include 'add-ones/login.html' %}
<!--end of login form popup-->

<!--signup form popup-->
{% include 'add-ones/signup.html' %}
<!--end of signup form popup-->

<!-- BEGIN | Header -->
{% include 'add-ones/navbar.html' %}
<!-- END | Header -->


<div class="slider sliderv2">
	<div class="container">
		<div class="row">
	    	<!-- <div class="slider-single-item">
	    		<div class="movie-item">
	    			<div class="row">
	    				<div class="col-md-8 col-sm-12 col-xs-12">
	    					<div class="title-in">
			    				<div class="cate">
			    					<span class="blue"><a href="#">Sci-fi</a></span>
			    					<span class="yell"><a href="#">Action</a></span>
			    					<span class="orange"><a href="#">advanture</a></span>
			    				</div>
			    				<h1><a href="#">Inception<br>
								<span>2010</span></a></h1>
								<div class="social-btn">
									<a href="#" class="parent-btn"><i class="ion-play"></i> Watch Trailer</a>
									<a href="#" class="parent-btn"><i class="ion-heart"></i> Add to Favorite</a>
									<div class="hover-bnt">
										<a href="#" class="parent-btn"><i class="ion-android-share-alt"></i>share</a>
										<div class="hvr-item">
											<a href="#" class="hvr-grow"><i class="ion-social-facebook"></i></a>
											<a href="#" class="hvr-grow"><i class="ion-social-twitter"></i></a>
											<a href="#" class="hvr-grow"><i class="ion-social-googleplus"></i></a>
											<a href="#" class="hvr-grow"><i class="ion-social-youtube"></i></a>
										</div>
									</div>		
								</div>
			    				<div class="mv-details">
			    					<p><i class="ion-android-star"></i><span>8.8</span> /10</p>
			    					<ul class="mv-infor">
			    						<li>  Run Time: 2h21’ </li>
			    						<li>  Rated: PG-13  </li>
			    						<li>  Release: 1 May 2015</li>
			    					</ul>
			    				</div>
			    				<div class="btn-transform transform-vertical">
									<div><a href="#" class="item item-1 redbtn">more detail</a></div>
									<div><a href= "#" class="item item-2 redbtn hvrbtn">more detail</a></div>
								</div>		
			    			</div>
	    				</div>
	    				<div class="col-md-4 col-sm-12 col-xs-12">
		    				<div class="mv-img-2">
			    				<a href="#"><img src="{% static 'images/uploads/mv-it8.jpg' %}" alt=""></a>
			    			</div>
		    			</div>
	    			</div>	
	    		</div>
	    	</div> -->
	    </div>
	</div>
</div>

<div class="movie-items  full-width">
	<div class="row">
		<div class="col-md-11">
			<div class="top-search">

				<form class="form" action="" method="get" >
					{{form}}	
					<input name="sch" placeholder="Search something.."></input>
					<input type="submit" name="submit" value="GO" href="#" ></input>
				</form>



				<!-- <form action="" method="get" >
					{{form}}
						<input type="text" name="sch" placeholder="Search for a movie,word or celebrity that you are looking for">
						<input type="submit" name="submit" value="Search">
		 		</form> -->
		    </div>

			<!-- <div class="title-hd">
				<h2>This is Search Page</h2>	
			</div> -->
			{% block content %}
			<!-- <h3 style="display: inline;"> Searched for </h3><h1 style="display: inline;">{{k}} </h1> <h3 style="display: inline;"> Total Items {{ count }} </h3>
			<br><br> -->
			
			{% for n,p,r in data %}
				<div class="movie-item-style-2 movie-item-style-1" style="display: inline-block;margin: 15px">
					<img src={{p}} alt="">
					<div class="hvr-inner">
        				<a  href="/movieinfo"> Read more <i class="ion-android-arrow-dropright"></i> </a>
        			</div>
					<div class="mv-item-infor">
						<h6><a href="#">{{n}}</a></h6>
						<p class="rate"><i class="ion-android-star"></i><span>{{r}}</span> /10</p>
					</div>
				</div>	
			{% endfor %}

			{% endblock %}
		</div>
	</div>
</div>
</div>


<!-- footer v2 section-->
{% include 'add-ones/footer.html' %}
<!-- end of footer v2 section-->

{% include 'add-ones/alljs.html' %}
</body>
</html>